<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IShip" />
                <binding name="BasicHttpBinding_ICarrierTransactions" />
                <binding name="BasicHttpBinding_IDataTransactions" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dev00:3316/Ship" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IShip" contract="StarShipShipAPI.IShip"
                name="BasicHttpBinding_IShip" />
            <endpoint address="http://dev00:3315/WebServicesServer/Carrier"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarrierTransactions"
                contract="StarShipRateAPI.ICarrierTransactions" name="BasicHttpBinding_ICarrierTransactions" />
            <endpoint address="http://dev00:3315/WebServicesServer/Data"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataTransactions"
                contract="StarShipRateAPI.IDataTransactions" name="BasicHttpBinding_IDataTransactions" />
        </client>
    </system.serviceModel>
</configuration>